<!-- Header -->
<!DOCTYPE HTML>
<html>
	<head>
		<title>My Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:400,500" rel="stylesheet">
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body>

		<!-- Main -->
		<div id='admin'></div>

<!-- Footer -->
<script src="/js/admin.js" charset="utf-8"></script>

	</body>
</html>
